body {
  background-color: rgb(40, 44, 50);
  color: rgb(236, 242, 247);
  margin: 0;
  padding: 20px;
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.8;
}

a {
  color: white;
  text-decoration: none;
}


nav ul {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  background-color: blueviolet;
  display: block;
  padding: 8px 4px;
  margin: 0 4px 4px 0;
}

nav a:hover {
  background-color: white;
  color: blueviolet;
}